
* {
    box-sizing: border-box;
}


body {
 color: #c2c1c1;
 margin: 0; 
 
}

#movie {
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    margin:0;
    padding:0;
    top: 0;
    left: 0;
      
}

.content {
    bottom: 0;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    position:relative;
    z-index:0;
    text-align: center;
  

}

a {
    text-decoration: none;
    color: #c2c1c1;
    position:absolute;
    z-index:1;
    font-family: "Medio";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: 50%;
     transform: translate(-50%, -50%);
   
    
}

a:hover{
    color: #7e7d7d;
    
}


