* {
    box-sizing: border-box;
}

body {

    transition: background-color 1s ease;
    background-color: rgb(211, 219, 223);
    font-size: 22px;
    font-family: "Medio", sans-serif;
    font-weight: 100;
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
}


#container1 {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

h1 {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 100;
    color: white;
    text-align: center;
    
}


p {
    position: absolute;
    top: 70%;
    left: 50%;
    font-family: "Avenir Next";
    font-weight: 100;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    font-size: 14px;
}

.secondintro {
        top: 50%;
        width: 50%;
}

#content1 {
    width: 80%;
    margin: 80px auto;
    height: 85%;
    background-image: url(../img/60801544_2054539558181814_2082380525137297408_n.jpg);
    background-color: pink;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    transition: 1s cubic-bezier(.25, .46, .45, .94);
}